extends ../../../pug/layout
block metaSize
	meta(name="ad.size", content='width=300,height=600')

block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		#main
			#firstFrame
				img(src="images/balls_1.png").balls1
				img(src="images/text_1.png").text1
				img(src="images/text_2.png").text2
			#secondFrame
				img(src="images/square_1.png").square1
				img(src="images/square_2.png").square2
				img(src="images/square_3.png").square3
				img(src="images/square_4.png").square4
				img(src="images/square_5.png").square5
				img(src="images/square_6.png").square6
				img(src="images/square_7.png").square7
				img(src="images/square_8.png").square8
				img(src="images/text_3.png").text3
			#thirdFrame
				img(src="images/hand.png").hand
				img(src="images/orange.png").orange
				img(src="images/computer_1.png").computer1
				img(src="images/computer_2.png").computer2
				img(src="images/computer_3.png").computer3
				img(src="images/text_4.png").text4
			#fourthFrame
				.up
					img(src="images/text_5.png").text5
				.down
					img(src="images/text_6.png").text6
				img(src="images/lines.png").lines
				img(src="images/object_1.png").object1
				img(src="images/object_2.png").object2
				img(src="images/object_3.png").object3
				img(src="images/object_4.png").object4
				img(src="images/object_5.png").object5
				img(src="images/object_6.png").object6
			#lastFrame
				img(src="images/balls_2.png").balls2
				img(src="images/balls_3.png").balls3
				img(src="images/text_7.png").text7
				img(src="images/cta.png").cta