extends ../../../pug/layout
block metaSize
	meta(name="ad.size", content='width=300,height=600')

block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		#main
			#firstFrame
				img(src="images/2017_chance_logo.png")#logo
			#secondFrame
				img(src="images/2017_chance_img2.svg")#fullDesk
				img(src="images/2017_chance_img1.png")#girlSitting
				#firstText
					img(src="images/2017_chance_text1.png")#text1
				img(src="images/2017_chance_img3.png")#flyGirl1
			#thirdFrame
				img(src="images/2017_chance_img4.jpg")#computer
				img(src="images/2017_chance_img3.png")#flyGirl2
				#blockMonitor
					img(src="images/2017_chance_img6.jpg")#monitor
			#fourthFrame
				img(src="images/2017_chance_img5.jpg")#counter
				#secondText
					img(src="images/2017_chance_text2.png")#text2
			#fiveFrame
				img(src="images/2017_chance_text3.png")#text3
				img(src="images/2017_chance_text4.png")#text4
				img(src="images/2017_chance_logo2.png")#logo2
				img(src="images/2017_chance_cta.png")#cta


